.imagen1{
    width: 150px;
    height: 150px;
}
.inv1{
    font-size: 19px;
}
.padin1{
    margin: 5px 5px;
}

.piepag{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.letra{
    font-family: Optima, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:#FCF904;
}
.letra1{
    font-family: Optima, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:black;
}
.letra3{
    font-family: Optima, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color:black;

}
.cuadromision{
    width: 100%;
    height: 100%;
}
.centrar{
    text-align: center;
    align-content: center;
    align-items: center;
}
.centrar1{
    text-align: center;
    align-content: center;
    align-items: center;
    height: 1px;
}
.colorlogo{
    background: rgb(3, 120, 3);
}
.carusel{
    width: 100%;
    height: 540px;
}
.mapas{
    width: 100%;
    height: 400px;
}
.ubicacion{
    width: 100%;
    height: 400px;
}
.redes{
    width: 100%;
    height: 60px;
}
.formularioiniciar{
    padding: 20px;
}
.redes1{
    width: 200px;
    height: 200px;
    text-decoration: none;
    font-size: 35px;
    color: orange;
}
.redes2{
    width: 200px;
    height: 200px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(14, 221, 14);
}
.redes3{
    width: 200px;
    height: 200px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(14, 97, 221);
}
.redes5{
    width: 200px;
    height: 200px;
    text-decoration: none;
    font-size: 35px;
    color: rgb(221, 14, 14);
}
.mod{
    font-size: 25px;
}
.palabra1{
    text-align: justify;
}
.alto{
    height: 415px;
}